---
import type { MarkdownLayoutProps } from "astro";
import PostsList from "../../components/PostsList.astro";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  date: string;
  desciption: string;
  img: string;
}>;
---

<style></style>

<BaseHead
  title="OmaBlog. Список статей"
  description="На этой странице найдете статьи"
/>
<div class="min-h-screen dark:bg-gray-800 dark:text-gray-100">
  <header>
    <Header />
  </header>
  <main class="relative">
    <PostsList />
  </main>
  <Footer />
</div>
