---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import PostList from "../components/PostList.astro";
import Wrapper from "../components/Wrapper.astro";
import type { IPost } from "./index.astro";

interface Frontmatter {
  title: string;
  description: string;
  imgSrc: string;
  date: string;
}

const foundedPosts = await Astro.glob<Frontmatter>("./posts/*.md");
const posts: IPost[] = foundedPosts.map((post, index) => ({
  id: index,
  title: post.frontmatter.title,
  description: post.frontmatter.description,
  imgSrc: post.frontmatter.imgSrc,
  date: post.frontmatter.date,
}));
---

<!DOCTYPE html>
<html lang="en">
  <Head title={"Все посты"} />
  <body
    class="bg-background text-paragraph dark:bg-light-background dark:text-light-paragraph font-roboto"
  >
    <Wrapper>
      <Header />
      <PostList posts={posts} />
      <Footer />
    </Wrapper>

    [x: string]: any; title: any;</body>
</html>
