---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>OmaBlog</title>
  </head>
  <body class="text-obsidian">
    <nav
      class="flex items-center justify-between h-20 group active-menu"
      id="navigation-menu"
    >
      <div class="z-10">
        <a class="font-medium text-xl group/logo" href="/"
          ><span class="group-hover/logo:text-brick">Oma</span>Blog</a
        >
      </div>

      <ul
        class="md:flex hidden justify-center items-center gap-10 group-[.active-menu]:flex group-[.active-menu]:bg-brick group-[.active-menu]:fixed group-[.active-menu]:pt-20 group-[.active-menu]:inset-0 group-[.active-menu]:flex-col"
      >
        {
          [
            { title: "Home", link: "/" },
            { title: "Works", link: "/works" },
            { title: "Blog", link: "/posts" },
            { title: "Contact", link: "/contact" },
          ].map(({ title, link }) => (
            <li class="font-medium text-xl">
              <a href={link}>{title}</a>
            </li>
          ))
        }
      </ul>
      <div id="menu-icon" class="md:hidden z-10">Menu</div>
    </nav>
  </body>
</html>

<script>
  const menuIcon = document.getElementById("menu-icon");
  const nav = document.getElementById("navigation-menu");

  menuIcon?.addEventListener("click", () => {
    nav?.classList.toggle("active-menu");
  });

  const resizeObserver = new ResizeObserver((entries) => {
    const width = document.documentElement.clientWidth;

    if (width > 768) {
      nav?.classList.remove("active-menu");
    }
  });

  resizeObserver.observe(document.body);
</script>
