---
import { Image } from "@astrojs/image/components";
import PostList from "../components/PostList.astro";
import FormFeedback from "../components/FormFeedback.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Wrapper from "../components/Wrapper.astro";
import type { Post } from "../types/Post";

interface Frontmatter extends Post {}

export interface IWork {
  id: number;
  imgSrc: string;
  altText: string;
}

const foundedPosts = await Astro.glob<Frontmatter>("./posts/*.md");
const posts: Post[] = foundedPosts.map((post, index) => ({
  id: index,
  title: post.frontmatter.title,
  description: post.frontmatter.description,
  imgSrc: post.frontmatter.imgSrc,
  date: post.frontmatter.date,
  url: post.url,
}));

const works: IWork[] = [
  {
    id: 0,
    imgSrc: "/images/nektar.webp",
    altText: "Строительная компания Нектар",
  },
  {
    id: 1,
    imgSrc: "/images/globals.webp",
    altText: "Центр грузоподобных приспособлений",
  },
  {
    id: 2,
    imgSrc: "/images/gkp5.webp",
    altText: "Городская поликлиника №5 Актобе",
  },
  {
    id: 3,
    imgSrc: "/images/nektar.webp",
    altText: "Строительная компания Нектар",
  },
];
---

<!DOCTYPE html>
<html lang="ru">
  <meta name="description" content="Блог Web-разработчика" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="images/logo.svg" />
  <link rel="stylesheet" href="styles/main.css" />
  <title>OmaBlog</title>

  <body
    class="bg-background text-paragraph dark:bg-light-background dark:text-light-paragraph font-roboto"
  >
    <Wrapper>
      <!-- HEADER -->
      <Header />
      <!-- CONTENT -->
      <main class="space-y-24">
        <!-- CTA -->
        <section class="max-w-md mx-auto text-center space-y-6">
          <h1 class="font-bold text-3xl text-headline dark:text-light-headline">
            Хотите свой собственный сайт?
          </h1>
          <p>
            Нам необходимо с Вами просто познакомиться. Для этого надо будет
            нажать на кнопку “Оставить заявку” и заполнить форму. Вам останется
            только подождать, пока я не отправлю письмо с ответом, в котором
            отвечу на Ваши вопросы и предложения.
          </p>
          <button
            class="bg-button dark:bg-light-button text-button-text px-6 py-3 rounded"
            >Оставить заявку</button
          >
        </section>

        <!-- BLOG -->
        <PostList posts={posts} />

        <!-- WORKS -->
        <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-4">
          {
            works.map((work) => (
              <Image
                class={"w-full aspect-auto object-cover"}
                aspectRatio={1 / 1}
                width={720}
                src={work.imgSrc}
                alt={work.altText}
              />
            ))
          }
        </div>

        <!-- FEEDBACK -->
        <FormFeedback />

        <!-- CASES -->

        <section class="flex flex-wrap gap-6">
          <!-- #1 CASE -->
          <div
            class="flex-1 flex justify-around items-center gap-2 bg-background-secondary dark:bg-light-background-secondary rounded-lg px-2 py-6"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              class="w-20 h-20"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"
              ></path>
            </svg>

            <div class="flex flex-col">
              <span
                class="font-bold text-headline dark:text-light-headline text-2xl"
                >&gt; 1.5</span
              >
              <span>лет работы</span>
            </div>
          </div>

          <!-- #2 CASE -->
          <div
            class="flex-1 flex justify-around items-center gap-2 bg-background-secondary dark:bg-light-background-secondary rounded-lg px-2 py-6"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              class="w-20 h-20"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.362 5.214A8.252 8.252 0 0 1 12 21 8.25 8.25 0 0 1 6.038 7.048 8.287 8.287 0 0 0 9 9.6a8.983 8.983 0 0 1 3.361-6.867 8.21 8.21 0 0 0 3 2.48z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 18a3.75 3.75 0 0 0 .495-7.467 5.99 5.99 0 0 0-1.925 3.546 5.974 5.974 0 0 1-2.133-1A3.75 3.75 0 0 0 12 18z"
              ></path>
            </svg>

            <div class="flex flex-col">
              <span
                class="font-bold text-headline dark:text-light-headline text-2xl"
                >&#8734;</span
              >
              <span>желание работать</span>
            </div>
          </div>

          <!-- #3 CASE -->
          <div
            class="flex-1 flex justify-around items-center gap-2 bg-background-secondary dark:bg-light-background-secondary rounded-lg px-2 py-6"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              class="w-20 h-20"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5a17.92 17.92 0 0 1-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418"
              ></path>
            </svg>

            <div class="flex flex-col">
              <span
                class="font-bold text-headline dark:text-light-headline text-2xl"
                >4</span
              >
              <span>готовых сайтов</span>
            </div>
          </div>

          <!-- #4 CASE -->
          <div
            class="flex-1 flex justify-around items-center gap-2 bg-background-secondary dark:bg-light-background-secondary rounded-lg px-1 py-6"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              class="w-20 h-20"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 18v-5.25m0 0a6.01 6.01 0 0 0 1.5-.189m-1.5.189a6.01 6.01 0 0 1-1.5-.189m3.75 7.478a12.06 12.06 0 0 1-4.5 0m3.75 2.383a14.406 14.406 0 0 1-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 1 0-7.517 0c.85.493 1.509 1.333 1.509 2.316V18"
              ></path>
            </svg>

            <div class="flex flex-col">
              <span
                class="font-bold text-headline dark:text-light-headline text-2xl"
                >7</span
              >
              <span>проектов на Github</span>
            </div>
          </div>
        </section>
      </main>

      <!-- FOOTER -->
      <Footer />
    </Wrapper>
  </body>
</html>
