---
import CTA from "../components/CTA.astro";
import PostsList from "../components/PostsList.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import BaseHead from "../components/BaseHead.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="ru">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="min-h-screen dark:bg-gray-800 dark:text-gray-100">
      <div class="p-6 space-y-8"></div>
      <Header />
      <main class="">
        <CTA />
        <PostsList />
      </main>
      <Footer />
    </div>
  </body>
</html>
