---
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<!-- Primary Meta Tags -->
<title>{title || "OmaBlog"}</title>
<meta
  name="description"
  content={description || "OmaBlog. Сайт веб-разработчика"}
/>
<meta name="title" content={title || "OmaBlog"} />
