---
import { Image, Picture } from "@astrojs/image/components";
---

<section class="overflow-hidden sm:grid sm:grid-cols-2">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl container text-center sm:text-left">
      <h2 class="text-2xl font-bold md:text-3xl">
        Разработка сайтов для Ваших идей
      </h2>
      <p class="hidden md:mt-4 md:block">
        Своим клиентам предлагаю только современные технологии, с помощью
        которых создаются быстрые и удобные сайты.
      </p>
      <button
        class="mt-4 md:mt-8 inline-block rounded bg-gray-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-gray-700 focus:outline-none focus:ring focus:ring-gray-200"
        >Подать заявку</button
      >
    </div>
  </div>

  <Image
    src="/codescreen.jpg"
    alt="Screen with code"
    width={960}
    height={540}
    background="#0339A6"
  />
</section>
