---
---

<style>
  .logo {
    @apply inline-flex h-10 w-10 items-center justify-center rounded-lg bg-white;
  }
  .logo > .logo__text {
    @apply sr-only;
  }
  .footer {
    @apply bg-gray-50;
  }
  .footer__container {
    @apply mx-auto max-w-screen-xl p-4;
  }
  .footer__columns {
    @apply sm:flex sm:items-center sm:justify-between;
  }
  .footer__logo {
    @apply flex justify-center sm:justify-start;
  }
  .footer__text {
    @apply mt-4 text-center text-sm text-gray-500 lg:mt-0 lg:text-right;
  }
</style>

<footer class="footer" aria-label="Подвал сайта">
  <div class="footer__container">
    <div class="footer__columns">
      <div class="footer__logo">
        <a href="/" class="logo">
          <span class="logo__text">Logo</span>
          <svg
            class="h-8 w-8"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 211.667 211.667"
          >
            <path
              fill="#8e37c9"
              d="m0 158.75 52.916-52.917 52.917 52.917-52.917 52.916z"></path>
            <path
              fill="#396cc8"
              d="m52.916 105.833 52.917-52.916 52.916 52.916-52.916 52.917z"
            ></path>
            <path
              fill="#583ccb"
              d="M105.833 52.916 158.75 0l52.916 52.916-52.916 52.917z"></path>
            <path
              fill="#edcc3b"
              d="m105.833 158.75 52.917-52.916 52.916 52.916-52.916 52.917z"
            ></path>
          </svg>
        </a>
      </div>
      <p class="footer__text">Copyright &copy; 2022. All rights reserved.</p>
    </div>
  </div>
</footer>
