---
---

<footer class="" aria-label="Подвал сайта">
  <div class="mx-auto container p-4">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="flex justify-center sm:justify-start">
        <a href="/" class="flex font-medium items-center mb-4 md:mb-0">
          <svg
            class="h-10 w-10 bg-white rounded-lg p-2 dark:invert"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 211.667 211.667"
          >
            <path
              fill="#8e37c9"
              d="m0 158.75 52.916-52.917 52.917 52.917-52.917 52.916z"></path>
            <path
              fill="#396cc8"
              d="m52.916 105.833 52.917-52.916 52.916 52.916-52.916 52.917z"
            ></path>
            <path
              fill="#583ccb"
              d="M105.833 52.916 158.75 0l52.916 52.916-52.916 52.917z"></path>
            <path
              fill="#edcc3b"
              d="m105.833 158.75 52.917-52.916 52.916 52.916-52.916 52.917z"
            ></path>
          </svg>
          <span class="ml-3 text-xl">OmaBlog</span>
        </a>
      </div>
      <p class="mt-4 text-center text-sm text-gray-500 lg:mt-0 lg:text-right">
        Copyright &copy; 2022. All rights reserved.
      </p>
    </div>
  </div>
</footer>
