---
import { Image } from "@astrojs/image/components";
---

<section class="flex gap-6 flex-wrap">
  <Image
    class={"flex-auto aspect-auto object-cover w-80"}
    src={"/images/code.png"}
    alt="Code"
    width={640}
    aspectRatio={16 / 9}
  />
  <form class="flex-1 flex flex-col gap-6 min-w-[320px]">
    <h2 class="font-bold text-3xl text-headline dark:text-light-headline">
      Форма обратной связи
    </h2>
    <input
      class={"w-full bg-background-secondary dark:bg-light-background-secondary dark:placeholder:text-gray-400 px-6 py-3 rounded-lg"}
      placeholder="Введите ФИО"
      type="text"
    />
    <input
      class="w-full bg-background-secondary dark:bg-light-background-secondary dark:placeholder:text-gray-400 px-6 py-3 rounded-lg"
      placeholder="Введите почту"
      type="text"
    />
    <textarea
      class="w-full bg-background-secondary dark:bg-light-background-secondary dark:placeholder:text-gray-400 px-6 py-3 rounded-lg resize-none"
      placeholder="Задайте свой вопрос или оставьте своё предложение"
      rows="5"></textarea>
    <div class="flex justify-center">
      <button
        class="bg-button dark:bg-light-button text-button-text px-6 py-3 rounded"
        type="submit">Оставить заявку</button
      >
    </div>
  </form>
</section>
