---
---

<div class="flex items-center gap-4">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 211.667 211.667"
    class="w-12 h-12"
  >
    <path fill="navy" d="m0 158.75 52.916-52.917 52.917 52.917-52.917 52.916z"
    ></path>
    <path
      fill="#f0f"
      d="m52.916 105.833 52.917-52.916 52.916 52.916-52.916 52.917z"></path>
    <path
      fill="#d40000"
      d="M105.833 52.916 158.75 0l52.916 52.916-52.916 52.917z"></path>
    <path
      fill="#fc0"
      d="m105.833 158.75 52.917-52.916 52.916 52.916-52.916 52.917z"></path>
  </svg>
  <h1 class="font-bold text-3xl text-headline dark:text-light-paragraph">
    OmaBlog
  </h1>
</div>
