---
import ThemeToggle from "./ThemeToggle";

interface ILink {
  title: string;
  url: string;
}
const links: ILink[] = [
  { title: "Главная", url: "/" },
  { title: "Блог", url: "/posts" },
  { title: "XP", url: "/" },
];
---

<nav class="flex flex-wrap items-center text-base justify-center gap-x-5">
  {links.map((link) => <a href={link.url}>{link.title}</a>)}

  <ThemeToggle client:visible />
</nav>
